@media(max-width: 1180px){
    .opcoesCadastro {
        width: 100%;
    }
}

@media(max-width: 1130px){
    .this-is-consulta {
        width: 99%;
    }
    
    .container {
        width: 80%;
    }
    
    
}


@media(max-width: 1080px){
    .opcoesCadastro {
        display: block;
    }
    
    .opcaoCadastro {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    
}





@media(max-width: 910px){
    .cadastroDiv {
        width: 40%;
        margin: 0 5% 36px 5%;
    }
    
    
    
}

@media(max-width: 835px){
    .erroDadosIncorretos {
        left: 0;
        width: 100%;
        padding: 5px 0;
        transform: translateY(20%);
        position: relative;
    }
    
    .erroDadosIncorretos h1 {
        padding: 0 10px;
    }
    
    .erroDadosIncorretos::after {
        border: 10px solid transparent;
        border-bottom: 10px solid rgb(50, 50, 50);
        left: 10%;
        top: 0;
        transform: translateY(-90%);
    }
    
}


@media(max-width: 800px){
    .container {
        width: 90%;
    }
}

@media(max-width: 685px){
    .opcaoCadastro {
        float: none;
        margin: auto;
        margin-bottom: 30px;
    }
}


@media(max-width: 650px){
    .cadastroDiv {
        width: 90%;
        margin: 0 5% 36px 5%;
    }
    
    .cadastro h1 {
        font-size: 18px;
    }
    
    .container {
        width: 100%;
    }
    
    header nav {
        display: none;
    }
    
    .menuResponsive {
        display: block;
    }
    
}


@media(max-width: 365px){
    
    .popupInside {
        width: 98%;
    }
    
    .login {
        width: 89%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .cadastroForm {
        width: 89%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    
    .cadastroDivBtn input[type="submit"] {
        width: 80%;
    }
    
    
    

}

@media(max-width: 290px){
    .opcaoCadastro {
        width: 99%;
    }
}
